#
# RBS core configuration
#
menuconfig RBS_CORE
       bool "RBS core support"
       default n
       ---help---
         Say Y here if you want driver support for the RBS
	 platform drivers.

if RBS_CORE

config RBS_RWSEM_STAT
       bool "RBS lightweight read-write semaphore statistics"
       default n
       --- help ---
          Say Y here if you want to keep track of rbs rwsem lock
          usage and contention. Will add a few ns of OH in time each
          time a lock is taken/released.
          To check statistics you will have to call a buil-in function
          that dumps info to the klog.

config RBS_RWSEM_PARANOID
       bool "RBS lightweight read-write semaphore sanity checks"
       default n
       --- help ---
          Say Y here if you are debugging and want to make sure
          that you are not using un-initialized lock variables or
          attempting to use rbs rwsems from inside interrupt ctx.
          Will add a few ns of OH in time each time a lock is taken.

config RBS_DEBUG
	bool "RBS core debug messages"
	---help---
	  Say Y here if you want RBS core to produce a bunch of
	  debug messages to the system log. Select this if you are having a
	  problem with the RBS platform and want to see more of what is
	  going on.

	  If you are unsure about this, say N here.

menu "RBS builtin board type support"

source "drivers/rbs/sys/Kconfig"

endmenu #

menu "RBS error buffer options"

config RBSERR_ENTRY_SIZE
	int "Error entry size"
	default "256"

config RBSERR_BUFFER_SIZE
	int "Error buffer size"
	default "65536"

endmenu # error options

menu "RBS SMEM options"

config RBSSMEM_HAS_PERSISTENT
	bool "SMEM has persistent region"
	default y if ACP
	default n

config RBSSMEM_PERSIST_ADDR
	hex "Persistent region base address"
	default "0x00100000"

config RBSSMEM_PERSIST_SIZE
	hex "Persisten region size"
	default "0xef000"

endmenu # SMEM options

menu "RBS platform drivers"

source "drivers/rbs/gpio/Kconfig"
source "drivers/rbs/misc/Kconfig"
source "drivers/rbs/time/Kconfig"
source "drivers/rbs/fpga/Kconfig"
source "drivers/rbs/sec/Kconfig"
source "drivers/rbs/hwl/Kconfig"
source "drivers/rbs/mtdpart/Kconfig"

endmenu

endif   # if RBS_CORE

#endmenu
