/*
 * dts file for Xilinx ZynqMP ZCU102
 *
 * (C) Copyright 2015, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;

/include/ "zynqmp.dtsi"
/include/ "zynqmp-clk.dtsi"

/ {
	model = "ZynqMP ZCU102 RevA";
	compatible = "xlnx,zynqmp-zcu102", "xlnx,zynqmp";

	aliases {
		ethernet0 = &gem2;
		gpio0 = &gpio;
		rtc0 = &rtc;
		serial0 = &uart0;
		serial1 = &uart1;
		spi00 = &qspi;
		spi01 = &spi0;
		watchdog0 = &watchdog0;
	};

	chosen {
		bootargs = "earlycon isolcpus=2,3";
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x1b000000>;
	};
	pram@1e000000 {
			compatible = "mtd-ram";
			reg = <0x0 0x1e000000 0x0 0x1f80000>;
			bank-width = <4>;
			#address-cells = <2>;
			#size-cells = <2>;
			partition@pram {
				label = "pram";
				reg = <0x0 0x0 0x0 0x1f80000>;
			};
		};	
};

&gem2 {
	status = "okay";
	phy-handle = <&phy1>;
	phy-mode = "sgmii";
	phy1: phy@1 {
		reg = <1>;
	};
};

&gpio {
	status = "okay";
};

&qspi {
	status = "okay";
	is-dual = <1>;
	flash@0 {
		compatible = "n25q00";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		spi-max-frequency = <71428571>; 
	};
};

&spi0 {
	status = "okay";
	num-cs = <3>;
	temp@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <5000000>;
		reg = <0>;
	} ;
};

&rtc {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&watchdog0 {
	status = "okay";
	clocks = <&clk100>;
	reset-on-timeout;
};

&amba {
		misc_reset@1ffff000 {
		compatible = "generic-uio";
		reg = <0x0 0x1ffff000 0x0 0x1000>;
		};
		
		reset_ctrl@0xff5e0000 {
		compatible = "generic-uio";
		reg = <0x0 0xff5e0000 0x0 0x1000>;
		};
		
		trxm_cpri@a0000000 {
		compatible = "generic-uio";
		reg = <0x0 0xa0000000 0x0 0x200000>;
		};
		
		trxm_fpga@a0000000 {
		compatible = "generic-uio";
		reg = <0x0 0xa0000000 0x0 0x200000>;
		};
		
		trxm_int@a8000000 {
		compatible = "generic-uio";
		reg = <0x0 0xa8000000 0x0 0x200000>;
		interrupts = <0 89 4>;
		interrupt-parent = <&gic>;
		};

		trxm_reg@a0000000 {
		compatible = "generic-uio";
		reg = <0x0 0xa0000000 0x0 0x200000>;
		};
		
		ecp0@a0000000 {
		compatible = "generic-uio";
		reg = <0x0 0xa0000000 0x0 0x200000>;
		interrupts = <0 90 4>;
		interrupt-parent = <&gic>;
		};

		dpd_per0@b0000000 {
		compatible = "generic-uio";
		reg = <0x0 0xb0000000 0x0 0x400000>;
		};

		dpd_mem0@b1000000 {
		compatible = "generic-uio";
		reg = <0x0 0xb1000000 0x0 0x1000>;
		};

		dpd_per1@a0000000 {
		compatible = "generic-uio";
		reg = <0x0 0xb2000000 0x0 0x400000>;
		};

		dpd_mem1@a0000000 {
		compatible = "generic-uio";
		reg = <0x0 0xb3000000 0x0 0x1000>;
		};

		fpga_dbg@1b400000 {
		compatible = "generic-uio";
		reg = <0x0 0x1b400000 0x0 0x2800000>;
		};

		ac_mem@1dc00000 {
		compatible = "generic-uio";
		reg = <0x0 0x1dc00000 0x0 0x400000>;
		};

};
