<html>
<head>
<style>
body {
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 1;
}

a.white {
  text-decoration: none;
  color: #fff;
}

table {
  font-size: 12pt;
}

tr {
  width: 60px;
  background-color: #585858;
  color: #fff;
  text-align:center;
}

td.NA {
  background-color: #BDBDBD;
}

td.OK {
  background-color: #4AA02C;
}

td.NOK {
  background-color: #ec663c;
}
</style>
</head>
<body>
<h1>Statistics</h1>
<table>
  <tr>
    <td>Test suite name</td>
    {% for cause in causes %}
        <td>{{cause}}</td>
    {% endfor %}
  </tr>
  {% for testsuite, info in testsuites.iteritems() %}
  <tr>
    <td>{{testsuite}}</td>
    {% for item in info %}
        <td class="{{item.verdict}}">
            {% for board, execution_info in item.executions.iteritems() %}
            <a href="{{execution_info.url}}">{{execution_info.verdict}}/{{board}}</a>
            {% endfor %}
        </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</body>
</html>
