# Ericsson gpio configuration
#

config RBS_GPIO
	tristate "RBS GPIO driver"
	default n
	---help---
	RBS GPIO driver provides access to GPIO pins from userspace
	(including interrupts)

config RBS_GPIO_MAXPINS
	depends on RBS_GPIO
	int "RBS GPIO maximum number of pins"
	default "32"
