build/
delivery/
doc/doxygen
doc/*.aux
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc
out/
out2/
rcs_doc/
*.o

## automake
Makefile.in
Makefile
/COPYING
/aclocal-copy
/aclocal.m4
/arm-wrs-linux-gnueabi-libtool
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4
/missing
*.la
*.lo
.libs/
.deps/