[DEFAULT]
base_url=${ARM_URL}
repository=${ARM_REPOSITORY}
account_details=${ARM_CREDENTIALS_FILE}
group=com.ericsson
noxmlvalidation=

;
; VRCS products
;
[VRCS]
artifacttype = virtual

[VRCS-extras]
delivery-baseline = CXS101657_4 CXP9029207_4 CXS101657_4-image CXP9033686_5 CXP9033686_5-image
module-delivery-baseline = CXP9029176_4 CXP9029177_4
git-tag = CXP9029176_4

[CXP9029176_4]
artifact = VRCS-MW_CXP9029176_4
providesif = @CXA11480_4 @CXA11457_4 @CXA11417_4 @CXA114004_4 @CXA11474_4 @CXA11407_4 @CXA11497_4 @CXA11418_4 @CXA11462_4 @CXA11473_4 @CXA11446_4 @CXA11422_4 @CXA11421_4 @CXA11475_4 @CXA11425_4 @CXA11498_4 @CXA11478_4 @CXA11494_4 @CXA11463_4 @CXA11461_4 @CXA11423_4 @CXA11464_4 @CXA114001_4 @CXA2010092_1
extension = cxp
packagetype = LMC
debugfile = @CXP9029176_4-debug
metadata = @CXP9029176_4-metadata

[CXP9029176_4-metadata]
artifact = VRCS-MW_CXP9029176_4
extension = xml
classifier = metadata

[CXP9029176_4-debug]
artifact = VRCS-MW_CXP9029176_4
extension = dbg

[CXP9029176_4-extras]
radiator-item-id = VRCS_MW_CXP

[CXA11480_4]
artifact = AIC_CXA11480_4
extension = cxa


[CXA11457_4]
artifact = ALH_CXA11457_4
extension = cxa
packagetype = IFC

[CXA11417_4]
artifact = APPM_CXA11417_4
extension = cxa
packagetype = IFC

[CXA114004_4]
artifact = CCH_CXA114004_4
extension = cxa
packagetype = IFC

[CXA11474_4]
artifact = CERT_CXA11474_4
extension = cxa
packagetype = IFC

[CXA11407_4]
artifact = CLH_CXA11407_4
extension = cxa
packagetype = IFC

[CXA11497_4]
artifact = COI_CXA11497_4
extension = cxa
packagetype = IFC

[CXA11418_4]
artifact = COMSA_CXA11418_4
extension = cxa
packagetype = IFC

[CXA11462_4]
artifact = COM_CXA11462_4
extension = cxa
packagetype = IFC

[CXA11473_4]
artifact = ECOLI_CXA11473_4
extension = cxa
packagetype = IFC

[CXA11446_4]
artifact = EQS_CXA11446_4
extension = cxa
packagetype = IFC

[CXA11422_4]
artifact = GMF_CXA11422_4
extension = cxa
packagetype = IFC

[CXA11421_4]
artifact = LIH_CXA11421_4
extension = cxa
packagetype = IFC

[CXA11475_4]
artifact = LMA_CXA11475_4
extension = cxa
packagetype = IFC

[CXA11425_4]
artifact = LOG_CXA11425_4
extension = cxa
packagetype = IFC

[CXA11498_4]
artifact = OMC_CXA11498_4
extension = cxa
packagetype = IFC

[CXA11478_4]
artifact = OOT_CXA11478_4
extension = cxa
packagetype = IFC

[CXA11494_4]
artifact = PES_CXA11494_4
extension = cxa
packagetype = IFC

[CXA11463_4]
artifact = PMS_CXA11463_4
extension = cxa
packagetype = IFC

[CXA11461_4]
artifact = SAF_CXA11461_4
extension = cxa
packagetype = IFC

[CXA2010092_1]
artifact = SVNFMD_CXA2010092_1
extension = cxa
packagetype = IFC

[CXA11423_4]
artifact = SWM_CXA11423_4
extension = cxa
packagetype = IFC

[CXA11464_4]
artifact = SYS_CXA11464_4
extension = cxa
packagetype = IFC

[CXA114001_4]
artifact = TIM_CXA114001_4
extension = cxa
packagetype = IFC

[CXP9029177_4]
artifact = VRCS-EE_CXP9029177_4
providesif = @CXA11448_4
extension = cxp
packagetype = LMC

[CXP9029177_4-extras]
radiator-item-id = VRCS_EE_CXP

[CXA11448_4]
artifact = SDK_CXA11448_4
extension = cxa
packagetype = IFC

[CXS101657_4]
artifact = VRCS-UP_CXS101657_4
extension = cxs
packagetype = LMC

[CXS101657_4-extras]
depends = CXP9029177_4 CXP9029176_4 CXP9029207_4
radiator-item-id = VRCS_DUMMY_CXS
git-tag = CXP9029176_4

[CXS101657_4-image]
artifacttype = deployed
artifact = VRCS-UP_CXS101657_4
extension = qcow2
radiator-item-id=VRCS_DUMMY_IMAGE

[CXP9029207_4]
artifact = VRCS-DUMMY_CXP9029207_4
extension = cxp
packagetype = LMC
debugfile = @CXP9029207_4-debug

[CXP9029207_4-debug]
artifact = VRCS-DUMMY_CXP9029207_4
extension = dbg

[CXP9029207_4-extras]
radiator-item-id = VRCS_DUMMY_CXP

; Patched Node UP for JCAT tests
[CXP9033686_5]
artifact = TEST_CXP9033686_5
extension = zip
packagetype = LMC

[CXP9033686_5-extras]
upbase = CXP9029198_1
depends = CXP9029177_4 CXP9029176_4
modules = CXP9029177_4 CXP9029176_4
radiator-item-id = VRCS_TEST_UP

[CXP9033686_5-image]
artifacttype = deployed
artifact = TEST_CXP9033686_5
extension = qcow2
radiator-item-id=VRCS_VRC_NODE_IMAGE

;
; BRCS & MSRCS common 3PP products
;

[CXP102171_1]
artifacttype = external
artifact = COBRA_CXP102171_1
extension = cxp
packagetype = LMC

[CXP102188_2]
artifacttype = external
artifact = COBRA_CXP102188_2
extension = cxp
packagetype = LMC

;
; BRCS products
;

[BRCS]
artifacttype=virtual

[BRCS-extras]
delivery-baseline=CXP9029440_5 CXS101665_5 CXP9033685_5 CXP9029439_5
module-delivery-baseline = CXP9032853_5 CXP9029439_5 CXP9029438_5 CXP2030012_1

[CXS101665_5]
artifact = BRCS-UP_CXS101665_5
extension = cxs
packagetype = LMC

[CXS101665_5-extras]
depends = CXP9032853_5
radiator-item-id = BRCS_DUMMY_CXS

[CXP9032853_5]
artifact = BRCS_CXP9032853_5
extension = cxp
packagetype = LMC

[CXP9032853_5-extras]
radiator-item-id = BRCS_BUNDLED_CXP

[CXP9029438_5]
artifact = BRCS-EE_CXP9029438_5
extension = cxp
packagetype = LMC

[CXP9029438_5-extras]
artifacttype = external
radiator-item-id = BRCS_EE_CXP

[CXP9029439_5]
artifact = BRCS-MW_CXP9029439_5
providesif = @CXA11480_5 @CXA11457_5 @CXA11417_5 @CXA114004_5 @CXA11474_5 @CXA11407_5 @CXA11497_5 @CXA11418_5 @CXA11462_5 @CXA11473_5 @CXA11446_5 @CXA11422_5 @CXA11421_5 @CXA11475_5 @CXA11425_5 @CXA11498_5 @CXA11478_5 @CXA11494_5 @CXA11463_5 @CXA11461_5 @CXA11423_5 @CXA11464_5 @CXA114001_5
hwc = @CXA114005_5
extension = cxp
packagetype = LMC
debugfile = @CXP9029439_5-debug
metadata = @CXP9029439_5-metadata

[CXP9029439_5-metadata]
artifact = BRCS-MW_CXP9029439_5
extension = xml
classifier = metadata

[CXP9029439_5-debug]
artifact = BRCS-MW_CXP9029439_5
extension = dbg

[CXP9029439_5-extras]
radiator-item-id = BRCS_MW_CXP

[CXP9029440_5]
artifact = BRCS-DUMMY_CXP9029440_5
extension = cxp
packagetype = LMC
debugfile = @CXP9029440_5-debug

[CXP9029440_5-debug]
artifact = BRCS-DUMMY_CXP9029440_5
extension = dbg

[CXP9029440_5-extras]
radiator-item-id = BRCS_DUMMY_CXP

[CXA11480_5]
artifact = AIC_CXA11480_5
extension = cxa
packagetype = IFC

[CXA11457_5]
artifact = ALH_CXA11457_5
extension = cxa
packagetype = IFC

[CXA11417_5]
artifact = APPM_CXA11417_5
extension = cxa
packagetype = IFC

[CXA114004_5]
artifact = CCH_CXA114004_5
extension = cxa
packagetype = IFC

[CXA11474_5]
artifact = CERT_CXA11474_5
extension = cxa
packagetype = IFC

[CXA11407_5]
artifact = CLH_CXA11407_5
extension = cxa
packagetype = IFC

[CXA11497_5]
artifact = COI_CXA11497_5
extension = cxa
packagetype = IFC

[CXA11418_5]
artifact = COMSA_CXA11418_5
extension = cxa
packagetype = IFC

[CXA11462_5]
artifact = COM_CXA11462_5
extension = cxa
packagetype = IFC

[CXA11473_5]
artifact = ECOLI_CXA11473_5
extension = cxa
packagetype = IFC

[CXA11446_5]
artifact = EQS_CXA11446_5
extension = cxa
packagetype = IFC

[CXA11422_5]
artifact = GMF_CXA11422_5
extension = cxa
packagetype = IFC

[CXA114005_5]
artifact = HWC_CXA114005_5
extension = cxa
packagetype = HWC

[CXA11421_5]
artifact = LIH_CXA11421_5
extension = cxa
packagetype = IFC

[CXA11475_5]
artifact = LMA_CXA11475_5
extension = cxa
packagetype = IFC

[CXA11425_5]
artifact = LOG_CXA11425_5
extension = cxa
packagetype = IFC

[CXA11498_5]
artifact = OMC_CXA11498_5
extension = cxa
packagetype = IFC

[CXA11478_5]
artifact = OOT_CXA11478_5
extension = cxa
packagetype = IFC

[CXA11494_5]
artifact = PES_CXA11494_5
extension = cxa
packagetype = IFC

[CXA11463_5]
artifact = PMS_CXA11463_5
extension = cxa
packagetype = IFC

[CXA11461_5]
artifact = SAF_CXA11461_5
extension = cxa
packagetype = IFC

[CXA11423_5]
artifact = SWM_CXA11423_5
extension = cxa
packagetype = IFC

[CXA11464_5]
artifact = SYS_CXA11464_5
extension = cxa
packagetype = IFC

[CXA114001_5]
artifact = TIM_CXA114001_5
extension = cxa
packagetype = IFC

; Patched Node UP for JCAT tests
[CXP9033685_5]
artifact = TEST_CXP9033685_5
extension = zip
packagetype = LMC

[CXP9033685_5-extras]
upbase = CXP2010012_1
modules = CXP9032853_5
depends = CXP9029438_5 CXP9029439_5
radiator-item-id = BRCS_TEST_UP

; RCS-SERVICE-MW-JCAT containing test-5g-rcs test module for brcs
[CXP2030012_1]
artifact = CXP2030012_1
extension = cxp
packagetype = TC

[CXP2030012_1-extras]
artifacttype = external
name = RCS-SERVICE-MW-JCAT

;
; MSRCS products
;

[MSRCS]
artifacttype=virtual

[MSRCS-extras]
delivery-baseline = DUS2 TCU RCSSIM

; MSRCS-ALL configuration baseline product
; Product is baseline product (software configuration) but we map it to standard IFC
[msrcs-all]
artifact = MSRCS-ALL_CXS2010021_1
extension = cxs
packagetype = IFC
metadata = @msrcs-all-metadata

[msrcs-all-metadata]
artifact = MSRCS-ALL_CXS2010021_1
classifier = metadata
extension = xml

[msrcs-all-extras]
radiator-item-id = MSRCS-ALL
includes = CXS2010013_2 CXS2010014_1 CXP2020231_1 CXP2020233_1 CXP2020234_1 CXP102172_2 CXP102185_1 CXP2010043_1 CXP2010044_1


;
; TCU 3PP modules
;

[CXP102185_1]
artifacttype = external
artifact = KATLA_CXP102185_1
extension = cxp
packagetype = LMC

;
;
; RCSSIM products
;

[RCSSIM]
artifacttype = virtual

[RCSSIM-extras]
delivery-baseline = CXS2010025_1 CXP2010042_1 CXP2020303_1

[CXP2010042_1]
artifact = RCS-SIM_CXP2010042_1
extension = cxp
packagetype = LMC
providesif = @CXA2010080_1 @CXA2010066_1 @CXA2010081_1 @CXA2010069_1 @CXA2010083_1 @CXA2010073_1 @CXA2010070_1 @CXA2010074_1 @CXA2010067_1 @CXA2010075_1 @CXA2010076_1 @CXA2010086_1 @CXA2010085_1 @CXA2010071_1 @CXA2010082_1 @CXA2010084_1 @CXA2010078_1 @CXA2010089_1 @CXA2010072_1 @CXA2010079_1 @CXA2010088_1 @CXA2010087_1 @CXA2010077_1

[CXP2010042_1-extras]
radiator-item-id = RCS_SIM_CXP

[CXP2020303_1]
artifact = DUMMY-SIM_CXP2020303_1
extension = cxp
packagetype = LMC
debugfile = @CXP2020303_1-debug

[CXP2020303_1-debug]
artifact = DUMMY-SIM_CXP2020303_1
extension = dbg

[CXS2010025_1]
artifact = RCP-SIM_CXS2010025_1
extension = cxs
packagetype = LMC

[CXS2010025_1-extras]
depends = CXP2020303_1 CXP2010042_1
radiator-item-id = RCP_SIM_DUMMY_CXS

;
; TCU products
;

[TCU]
artifacttype=virtual

[TCU-extras]
delivery-baseline= CXS2010014_1 CXP2010044_1
module-delivery-baseline = CXP2030011_1 CXP2020233_1

[CXS2010014_1]
artifact = RCS-T_CXS2010014_1
extension = cxs
packagetype = LMC

[CXS2010014_1-extras]
depends = CXP2030011_1 CXP2020234_1 CXP2020233_1
radiator-item-id = RCS_TCU_DUMMY_CXS

[CXP2030011_1]
artifact = RCS-T_CXP2030011_1
extension = cxp
packagetype = LMC

[CXP2030011_1-extras]
radiator-item-id = RCS_TCU_EE_CXP

; PATCHED TCU Node UP for JCAT tests
[CXP2010044_1]
artifact = TEST_CXP2010044_1
extension = zip
packagetype= LMC

[CXP2010044_1-extras]
upbase = CXP9024419_6
depends = CXP2030011_1 CXP2020233_1
baseband = Baseband-T
type = RadioTNode
release = 17B
modules = CXP2030011_1 CXP2020233_1
replace = RCSMW-ARM_CXP9025546_3.cxp RCS-T_CXP9031274_5.cxp
radiator-item-id = TCU_TEST_UP


;
; DUS2 products
;

[DUS2]
artifacttype=virtual

[DUS2-extras]
delivery-baseline= CXP2020234_1 CXS2010013_2 CXP2010043_1
module-delivery-baseline = CXP2030010_1 CXP2020233_1 CXP2020231_1

[CXS2010013_2]
artifact = RCP-DUS2_CXS2010013_2
extension = cxs
packagetype = LMC

[CXS2010013_2-extras]
depends = CXP2030010_1 CXP2020234_1 CXP2020233_1 CXP2020231_1
radiator-item-id = MSRCS_DUMMY_CXS

[CXP2030010_1]
artifact = RCS-DUS2_CXP2030010_1
extension = cxp
packagetype = LMC

[CXP2030010_1-extras]
radiator-item-id = MSRCS_RCS_DUS2_CXP

[CXP2030011_1]
artifact = RCS-T_CXP2030011_1
extension = cxp
packagetype = LMC

[CXP2020231_1]
artifact = RCSEE-DUS3_CXP2020231_1
extension = cxp
packagetype = LMC

[CXP2020231_1-extras]
radiator-item-id = MSRCS_RCSEE_DUS3_CXP

[CXP2020233_1]
artifact = RCSMW-ARM_CXP2020233_1
providesif = @CXA2010080_1 @CXA2010066_1 @CXA2010081_1 @CXA2010069_1 @CXA2010083_1 @CXA2010073_1 @CXA2010070_1 @CXA2010074_1 @CXA2010067_1 @CXA2010075_1 @CXA2010076_1 @CXA2010086_1 @CXA2010085_1 @CXA2010071_1 @CXA2010082_1 @CXA2010084_1 @CXA2010078_1 @CXA2010089_1 @CXA2010072_1 @CXA2010079_1 @CXA2010088_1 @CXA2010087_1 @CXA2010077_1
hwc = @CXA2010068_1
extension = cxp
packagetype = LMC
debugfile = @CXP2020233_1-debug
metadata = @CXP2020233_1-metadata

[CXP2020233_1-metadata]
artifact = RCSMW-ARM_CXP2020233_1
extension = xml
classifier = metadata

[CXP2020233_1-debug]
artifact = RCSMW-ARM_CXP2020233_1
extension = dbg

[CXP2020233_1-extras]
radiator-item-id = MSRCS_RCSMW_ARM_CXP

[CXP2020234_1]
artifact = DUMMY-ARM_CXP2020234_1
extension = cxp
packagetype = LMC
debugfile = @CXP2020234_1-debug

[CXP2020234_1-debug]
artifact = DUMMY-ARM_CXP2020234_1
extension = dbg

[CXP2020234_1-extras]
radiator-item-id = MSRCS_DUMMY_CXP

[CXA2010080_1]
artifact = AIC_CXA2010080_1
extension = cxa
packagetype = IFC

[CXA2010066_1]
artifact = ALH_CXA2010066_1
extension = cxa
packagetype = IFC

[CXA2010081_1]
artifact = APPM_CXA2010081_1
extension = cxa
packagetype = IFC

[CXA2010069_1]
artifact = CCH_CXA2010069_1
extension = cxa
packagetype = IFC

[CXA2010083_1]
artifact = CERT_CXA2010083_1
extension = cxa
packagetype = IFC

[CXA2010073_1]
artifact = CLH_CXA2010073_1
extension = cxa
packagetype = IFC

[CXA2010070_1]
artifact = COI_CXA2010070_1
extension = cxa
packagetype = IFC

[CXA2010074_1]
artifact = COMSA_CXA2010074_1
extension = cxa
packagetype = IFC

[CXA2010067_1]
artifact = COM_CXA2010067_1
extension = cxa
packagetype = IFC

[CXA2010075_1]
artifact = ECOLI_CXA2010075_1
extension = cxa
packagetype = IFC

[CXA2010076_1]
artifact = EQS_CXA2010076_1
extension = cxa
packagetype = IFC

[CXA2010086_1]
artifact = GMF_CXA2010086_1
extension = cxa
packagetype = IFC

[CXA2010068_1]
artifact = HWC_CXA2010068_1
extension = cxa
packagetype = HWC

[CXA2010085_1]
artifact = LIH_CXA2010085_1
extension = cxa
packagetype = IFC

[CXA2010071_1]
artifact = LMA_CXA2010071_1
extension = cxa
packagetype = IFC

[CXA2010082_1]
artifact = LOG_CXA2010082_1
extension = cxa
packagetype = IFC

[CXA2010084_1]
artifact = OMC_CXA2010084_1
extension = cxa
packagetype = IFC

[CXA2010078_1]
artifact = OOT_CXA2010078_1
extension = cxa
packagetype = IFC

[CXA2010089_1]
artifact = PES_CXA2010089_1
extension = cxa
packagetype = IFC

[CXA2010072_1]
artifact = PMS_CXA2010072_1
extension = cxa
packagetype = IFC

[CXA2010079_1]
artifact = SAF_CXA2010079_1
extension = cxa
packagetype = IFC

[CXA2010088_1]
artifact = SWM_CXA2010088_1
extension = cxa
packagetype = IFC

[CXA2010087_1]
artifact = SYS_CXA2010087_1
extension = cxa
packagetype = IFC

[CXA2010077_1]
artifact = TIM_CXA2010077_1
extension = cxa
packagetype = IFC

; Patched MSRCS Node UP for JCAT tests
[CXP2010043_1]
artifact = TEST_CXP2010043_1
extension = zip
packagetype = LMC

[CXP2010043_1-extras]
upbase = CXP9024418_6
depends = CXP2030010_1 CXP2020231_1 CXP2020233_1
baseband = Baseband
type = RadioNode
release = 17B
modules = CXP2030010_1 CXP2020231_1 CXP2020233_1
replace = RCS-DUS2_CXP9031275_4.cxp RCSEE-DUS3_CXP9025317_6.cxp RCSMW-ARM_CXP9025546_3.cxp
radiator-item-id = MSRCS_TEST_UP

;
; VRCS64 products
;

[VRCS64]
artifacttype = virtual

[VRCS64-extras]
delivery-baseline = CXS2010009_1 CXP2030008_1 CXS2010009_1-image CXP2010039_1 CXP2010040_1 CXP2010039_1-image CXP2010040_1-image
module-delivery-baseline = CXP2030009_1 CXP2030007_1
git-tag = CXP2030009_1

[CXP2030009_1]
artifact = VRCS64-MW_CXP2030009_1
providesif = @CXA2010009_1 @CXA2010010_1 @CXA2010011_1 @CXA2010012_1 @CXA2010013_1 @CXA2010014_1 @CXA2010017_1 @CXA2010016_1 @CXA2010015_1 @CXA2010018_1 @CXA2010019_1 @CXA2010020_1 @CXA2010022_1 @CXA2010023_1 @CXA2010024_1 @CXA2010025_1 @CXA2010026_1 @CXA2010027_1 @CXA2010028_1 @CXA2010029_1 @CXA2010098_1 @CXA2010030_1 @CXA2010031_1 @CXA2010032_1
extension = cxp
packagetype = LMC
debugfile = @CXP2030009_1-debug
metadata = @CXP2030009_1-metadata

[CXP2030009_1-metadata]
artifact = VRCS64-MW_CXP2030009_1
extension = xml
classifier = metadata

[CXP2030009_1-debug]
artifact = VRCS64-MW_CXP2030009_1
extension = dbg

[CXP2030009_1-extras]
radiator-item-id = VRCS64_MW_CXP

[CXA2010009_1]
artifact = AIC_CXA2010009_1
extension = cxa
packagetype = IFC

[CXA2010010_1]
artifact = ALH_CXA2010010_1
extension = cxa
packagetype = IFC

[CXA2010011_1]
artifact = APPM_CXA2010011_1
extension = cxa
packagetype = IFC

[CXA2010012_1]
artifact = CCH_CXA2010012_1
extension = cxa
packagetype = IFC

[CXA2010013_1]
artifact = CERT_CXA2010013_1
extension = cxa
packagetype = IFC

[CXA2010014_1]
artifact = CLH_CXA2010014_1
extension = cxa
packagetype = IFC

[CXA2010017_1]
artifact = COM_CXA2010017_1
extension = cxa
packagetype = IFC

[CXA2010016_1]
artifact = COMSA_CXA2010016_1
extension = cxa
packagetype = IFC

[CXA2010015_1]
artifact = COI_CXA2010015_1
extension = cxa
packagetype = IFC

[CXA2010018_1]
artifact = ECOLI_CXA2010018_1
extension = cxa
packagetype = IFC

[CXA2010019_1]
artifact = EQS_CXA2010019_1
extension = cxa
packagetype = IFC

[CXA2010020_1]
artifact = GMF_CXA2010020_1
extension = cxa
packagetype = IFC

[CXA2010022_1]
artifact = LIH_CXA2010022_1
extension = cxa
packagetype = IFC

[CXA2010023_1]
artifact = LMA_CXA2010023_1
extension = cxa
packagetype = IFC

[CXA2010024_1]
artifact = LOG_CXA2010024_1
extension = cxa
packagetype = IFC

[CXA2010025_1]
artifact = OMC_CXA2010025_1
extension = cxa
packagetype = IFC

[CXA2010026_1]
artifact = OOT_CXA2010026_1
extension = cxa
packagetype = IFC

[CXA2010027_1]
artifact = PES_CXA2010027_1
extension = cxa
packagetype = IFC

[CXA2010028_1]
artifact = PMS_CXA2010028_1
extension = cxa
packagetype = IFC

[CXA2010029_1]
artifact = SAF_CXA2010029_1
extension = cxa
packagetype = IFC

[CXA2010098_1]
artifact = SVNFMD_CXA2010098_1
extension = cxa
packagetype = IFC

[CXA2010030_1]
artifact = SWM_CXA2010030_1
extension = cxa
packagetype = IFC

[CXA2010031_1]
artifact = SYS_CXA2010031_1
extension = cxa
packagetype = IFC

[CXA2010032_1]
artifact = TIM_CXA2010032_1
extension = cxa
packagetype = IFC

[CXP2030007_1]
artifact = VRCS64-EE_CXP2030007_1
providesif = @CXA2010033_1
extension = cxp
packagetype = LMC

[CXP2030007_1-extras]
artifacttype = external
radiator-item-id = VRCS64_EE_CXP

[CXA2010033_1]
artifact = SDK_CXA2010033_1
extension = cxa
packagetype = IFC

[CXA2010033_1-extras]
artifacttype = external

[CXS2010009_1]
artifact = VRCS64-UP_CXS2010009_1
extension = cxs
packagetype = LMC

[CXS2010009_1-extras]
depends = CXP2030007_1 CXP2030009_1 CXP2030008_1
radiator-item-id = VRCS64_DUMMY_CXS
git-tag = CXP2030009_1

[CXS2010009_1-image]
artifacttype = deployed
artifact = VRCS64-UP_CXS2010009_1
extension = qcow2
radiator-item-id=VRCS64_DUMMY_IMAGE

[CXP2030008_1]
artifact = VRCS64-DUMMY_CXP2030008_1
extension = cxp
packagetype = LMC
debugfile = @CXP2030008_1-debug

[CXP2030008_1-debug]
artifact = VRCS64-DUMMY_CXP2030008_1
extension = dbg

[CXP2030008_1-extras]
radiator-item-id = VRCS64_DUMMY_CXP

; VRCS-ALL configuration baseline product
[vrcs-all]
artifact = VRCS-ALL_CXS2010015_1
extension = cxs
packagetype = IFC
metadata = @vrcs-all-metadata

[vrcs-all-extras]
includes = CXP2030007_1 CXP2030009_1 CXP2030008_1 CXS2010009_1 CXP2010039_1 CXP2010040_1
radiator-item-id = VRCS_ALL

[vrcs-all-metadata]
artifact = VRCS-ALL_CXS2010015_1
classifier = metadata
extension = xml

; Patched vRC Node UP for JCAT tests
[CXP2010039_1]
artifact = TEST_CXP2010039_1
extension = zip
packagetype = LMC

[CXP2010039_1-extras]
upbase = CXP2010010_1
depends = CXP2030007_1 CXP2030009_1
modules = CXP2030007_1 CXP2030009_1
radiator-item-id = VRCS64_VRC_TEST_UP

[CXP2010039_1-image]
artifacttype = deployed
artifact = TEST_CXP2010039_1
extension = qcow2
radiator-item-id=VRCS64_VRC_NODE_IMAGE

; Patched vPP Node UP for JCAT tests
[CXP2010040_1]
artifact = TEST_CXP2010040_1
extension = zip
packagetype = LMC

[CXP2010040_1-extras]
upbase = CXP2010011_1
depends = CXP2030007_1 CXP2030009_1
modules = CXP2030007_1 CXP2030009_1
radiator-item-id = VRCS64_VPP_TEST_UP

[CXP2010040_1-image]
artifacttype = deployed
artifact = TEST_CXP2010040_1
extension = qcow2
radiator-item-id=VRCS64_VPP_NODE_IMAGE


; ID: 180
; Info: MW IF
[CXA2010080_1]
artifact = AIC_CXA2010080_1
extension = cxa


; ID: 181
; Info: MW IF
[CXA2010066_1]
artifact = ALH_CXA2010066_1
extension = cxa


; ID: 182
; Info: MW IF
[CXA2010081_1]
artifact = APPM_CXA2010081_1
extension = cxa


; ID: 183
; Info: MW IF
[CXA2010069_1]
artifact = CCH_CXA2010069_1
extension = cxa


; ID: 184
; Info: MW ARM/i686 IF (G2)
[CXA2010083_1]
artifact = CERT_CXA2010083_1
extension = cxa


; ID: 185
; Info: MW ARM/i686 IF (G2)
[CXA2010073_1]
artifact = CLH_CXA2010073_1
extension = cxa


; ID: 186
; Info: MW ARM/i686 IF (G2)
[CXA2010070_1]
artifact = COI_CXA2010070_1
extension = cxa


; ID: 187
; Info: MW ARM/i686 IF (G2)
[CXA2010074_1]
artifact = COMSA_CXA2010074_1
extension = cxa


; ID: 188
; Info: MW ARM/i686 IF (G2)
[CXA2010067_1]
artifact = COM_CXA2010067_1
extension = cxa


; ID: 189
; Info: MW ARM/i686 IF (G2)
[CXA2010075_1]
artifact = ECOLI_CXA2010075_1
extension = cxa


; ID: 190
; Info: MW ARM/i686 IF (G2)
[CXA2010076_1]
artifact = EQS_CXA2010076_1
extension = cxa


; ID: 191
; Info: MW ARM/i686 IF (G2)
[CXA2010086_1]
artifact = GMF_CXA2010086_1
extension = cxa


; ID: 192
; Info: MW ARM/i686 IF (G2)
[CXA2010068_1]
artifact = HWC_CXA2010068_1
extension = cxa


; ID: 193
; Info: MW ARM/i686 IF (G2)
[CXA2010085_1]
artifact = LIH_CXA2010085_1
extension = cxa


; ID: 194
; Info: MW ARM/i686 IF (G2)
[CXA2010071_1]
artifact = LMA_CXA2010071_1
extension = cxa


; ID: 195
; Info: MW ARM/i686 IF (G2)
[CXA2010082_1]
artifact = LOG_CXA2010082_1
extension = cxa


; ID: 196
; Info: MW ARM/i686 IF (G2)
[CXA2010084_1]
artifact = OMC_CXA2010084_1
extension = cxa


; ID: 197
; Info: MW ARM/i686 IF (G2)
[CXA2010078_1]
artifact = OOT_CXA2010078_1
extension = cxa


; ID: 198
; Info: MW ARM/i686 IF (G2)
[CXA2010089_1]
artifact = PES_CXA2010089_1
extension = cxa


; ID: 199
; Info: MW ARM/i686 IF (G2)
[CXA2010072_1]
artifact = PMS_CXA2010072_1
extension = cxa


; ID: 200
; Info: MW ARM/i686 IF (G2)
[CXA2010079_1]
artifact = SAF_CXA2010079_1
extension = cxa


; ID: 201
; Info: MW ARM/i686 IF (G2)
[CXA2010088_1]
artifact = SWM_CXA2010088_1
extension = cxa


; ID: 202
; Info: MW ARM/i686 IF (G2)
[CXA2010087_1]
artifact = SYS_CXA2010087_1
extension = cxa


; ID: 203
; Info: MW ARM/i686 IF (G2)
[CXA2010077_1]
artifact = TIM_CXA2010077_1
extension = cxa

; ID: 102
; Info: RCS Interface Configuration (G2)
[CXS2010027_1]
artifact = RCSI_CXS2010027_1
providesif = @
debugfile = @CXS2010027_1-debug
metadata = @CXS2010027_1-metadata

[CXS2010027_1-metadata]
artifact = RCSI_CXS2010027_1
extension = xml
classifier = metadata

[CXS2010027_1-debug]
artifact = RCSI_CXS2010027_1
extension = dbg


; ID: 103
; Info: RCS SIM UP Configuration (G2)
[CXS2010025_1]
artifact = RCS-SIM_CXS2010025_1
extension = qcow2


; ID: 104
; Info: RCS BB UP Configuration (G2)
[CXS2010013_2]
artifact = RCS-BB_CXS2010013_2
extension = cxs


; ID: 105
; Info: RCS BB-T UP Configuration (G2)
[CXS2010014_1]
artifact = RCS-BBT_CXS2010014_1
extension = cxs


; ID: 106
; Info: RCS ALL Configuration (G2)
[CXS2010020_1]
artifact = RCS-ALL_CXS2010020_1
extension = cxs

[CXS2010020_1-metadata]
artifact = RCS-ALL_CXS2010020_1
classifier = metadata
extension = xml

[CXS2010020_1-extras]
includes = CXS2010013_2 CXS2010014_1 CXP2030010_1 CXP2030011_1 CXP2020234_1 CXP2020231_1 CXP2020233_1 CXP2010133_1 CXP2010133_2


; ID: 115
; Info: RCSEE DUS2 HAL (bundle) LMC (G2)
[CXP2030010_1]
artifact = RCS-DUS2_CXP2030010_1
artifacttype = external
extension = cxp
providesif = @CXA2010118_1
debugfile = @CXP2030010_1-debug
metadata = @CXP2030010_1-metadata

[CXP2030010_1-metadata]
artifact = RCS-DUS2_CXP2030010_1
extension = xml
classifier = metadata

[CXP2030010_1-debug]
artifact = RCS-DUS2_CXP2030010_1
extension = dbg


; ID: 116
; Info: RCSEE TCU HAL (bundle) LMC (G2)
[CXP2030011_1]
artifact = RCS-T_CXP2030011_1
artifacttype = external
extension = cxp
providesif = @CXA2010118_1
debugfile = @CXP2030011_1-debug
metadata = @CXP2030011_1-metadata

[CXP2030011_1-metadata]
artifact = RCS-T_CXP2030011_1
extension = xml
classifier = metadata

[CXP2030011_1-debug]
artifact = RCS-T_CXP2030011_1
extension = dbg


; ID: 115
; Info: RCSEE DUS2 HAL (bundle) LMC (G2)
[CXP2030010_1]
artifact = RCS-DUS2_CXP2030010_1
artifacttype = external
extension = cxp
providesif = @CXA2010118_1
debugfile = @CXP2030010_1-debug
metadata = @CXP2030010_1-metadata

[CXP2030010_1-metadata]
artifact = RCS-DUS2_CXP2030010_1
extension = xml
classifier = metadata

[CXP2030010_1-debug]
artifact = RCS-DUS2_CXP2030010_1
extension = dbg


; ID: 116
; Info: RCSEE TCU HAL (bundle) LMC (G2)
[CXP2030011_1]
artifact = RCS-T_CXP2030011_1
artifacttype = external
extension = cxp
providesif = @CXA2010118_1
debugfile = @CXP2030011_1-debug
metadata = @CXP2030011_1-metadata

[CXP2030011_1-metadata]
artifact = RCS-T_CXP2030011_1
extension = xml
classifier = metadata

[CXP2030011_1-debug]
artifact = RCS-T_CXP2030011_1
extension = dbg


; ID: 117
; Info: RCSMW SIM LMC (G2)
[CXP2010042_1]
artifact = RCSMW-SIM_CXP2010042_1
extension = cxp
providesif = @
debugfile = @CXP2010042_1-debug
metadata = @CXP2010042_1-metadata

[CXP2010042_1-metadata]
artifact = RCSMW-SIM_CXP2010042_1
extension = xml
classifier = metadata

[CXP2010042_1-debug]
artifact = RCSMW-SIM_CXP2010042_1
extension = dbg

[CXP2010042_1-extras]
xmltype=sim


; ID: 118
; Info: RCS DUMMY-SIM LMC (G2)
[CXP2020303_1]
artifact = DUMMY-SIM_CXP2020303_1
extension = cxp

[CXP2020303_1-extras]
xmltype=sim


; ID: 119
; Info: RCS DUMMY-ARM LMC (G2)
[CXP2020234_1]
artifact = DUMMY-ARM_CXP2020234_1
extension = cxp

[CXP2020234_1-extras]
xmltype=arm


; ID: 120
; Info: RCSEE DUS3 HAL LMC (G2)
[CXP2020231_1]
artifact = RCSEE-DUS3_CXP2020231_1
artifacttype = external
extension = cxp
providesif = @CXA2010118_1
debugfile = @CXP2020231_1-debug
metadata = @CXP2020231_1-metadata

[CXP2020231_1-metadata]
artifact = RCSEE-DUS3_CXP2020231_1
extension = xml
classifier = metadata

[CXP2020231_1-debug]
artifact = RCSEE-DUS3_CXP2020231_1
extension = dbg


; ID: 121
; Info: RCSMW LMC (G2)
[CXP2020233_1]
artifact = RCSMW-ARM_CXP2020233_1
extension = cxp
hwc = @CXA2010068_1
providesif = @
debugfile = @CXP2020233_1-debug
metadata = @CXP2020233_1-metadata

[CXP2020233_1-metadata]
artifact = RCSMW-ARM_CXP2020233_1
extension = xml
classifier = metadata

[CXP2020233_1-debug]
artifact = RCSMW-ARM_CXP2020233_1
extension = dbg

[CXP2020233_1-extras]
xmltype=arm


; ID: 122
; Info: RCSEE DUS2 HAL LMC (G2)
[CXP2010043_1]
artifact = RCSEE-DUS2_CXP2010043_1
artifacttype = external
extension = cxp


; ID: 123
; Info: RCSEE TCU HAL LMC (G2)
[CXP2010044_1]
artifact = RCSEE-T_CXP2010044_1
artifacttype = external
extension = cxp


; ID: 108
; Info: MS-RBS HAL HW Model (G2)
[CXA1106900_1]
artifact = HALHWmodel_CXA1106900_1
artifacttype = external
extension = cxa


; ID: 109
; Info: COBRA StratixV LMC (G2)
[CXP102171_1]
artifact = COBRA_CXP102171_1
artifacttype = external
extension = cxp


; ID: 111
; Info: KATLA LMC (G2)
[CXP102185_1]
artifact = KATLA_CXP102185_1
artifacttype = external
extension = cxp


; ID: 113
; Info: Tiger FPGA LMC (G2)
[CXP102194_1]
artifact = TIGER_CXP102194_1
artifacttype = external
extension = cxp


; ID: 114
; Info: mTiger FPGA LMC (G2)
[CXP102201_1]
artifact = MTIGER_CXP102201_1
artifacttype = external
extension = cxp


