# Ericsson FPGA driver configuration
#
menuconfig RBS_FPGA
       bool "RBS FPGA driver support"
       default y
       ---help---
         Say Y here if you want FPGA driver support for the RBS
	 platform.

if RBS_FPGA

source "drivers/rbs/fpga/icm1/Kconfig"

endif   # if RBS_FPGA

