# Ericsson time configuration
#

config CPM_TIME
	tristate "CPM time driver"
	default n
	depends on ARCH_CPM1 || ARCH_CPM2
	---help---
	CPM time driver: provides low overhead hr-timer service to rhai-time

