<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--
# ========================================================== 
# %CCaseFile:	appdata.xml.template % 
# %CCaseRev:	/main/R1A/1 % 
# %CCaseDate:	2012-08-30 % 
#                                                            
# Author:	etxbjca 
# Description:	CAX appdata file   
#                                                            
# ========================================================== 
#                                                            
# %CCaseCopyrightBegin%
# Copyright (c) Ericsson AB 2012 All rights reserved.
# 
# The information in this document is the property of Ericsson.
# 
# Except as specifically authorized in writing by Ericsson, the 
# receiver of this document shall keep the information contained 
# herein confidential and shall protect the same in whole or in 
# part from disclosure and dissemination to third parties.
# 
# Disclosure and disseminations to the receivers employees shall 
# only be made on a strict need to know basis.
# %CCaseCopyrightEnd%
#                                                            
# ========================================================== 
# REVISION LOG 
# ========================================================== 
#                                                            
# Rev        Date       Name        What 
# ========   ========   ========    ======================== 
# R1A/1      2012-08-30   etxbjca     Created 
# ========================================================== 
#
# Note! this example is for Alarm appdata, check IWD for 
# details of relevant appdata type. 
# 
-->                                                         

<appdata target="alarm">
  <alarmtype
      majorType="193"
      minorType="4747"
      moClasses="ManagedElement"
      specificProblem="CrazyState"
      eventType="ENVIRONMENTALALARM"
      probableCause="2"
      isStateful="true"
      additionalText="CrazyEverything"/>
</appdata> 

