<style>
div.ct_internal { background:lightgrey; color:black }
div.default     { background:lightgreen; color:black }
div.white       { background:white; color:black }
div.lightred    { background:lightcoral; color:black }
div.lightgreen  { background:lightgreen; color:black }
div.yellow      { background:yellow; color:black }
</style>
